<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Main Page</title>


	<link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <!-- Bootstrap JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  
  <!-- ======================== NavBar ========================== -->
  <div class="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>         
                <a class="navbar-brand" href="#">프로젝트</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">홈</a></li>     
                <li><a href="#about">About</a></li>
                <li class="dropdown active">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">게시판 <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/board-free">자유 게시판</a></li>
                    <li><a href="#">거래 게시판<a></li>
                    <li><a href="#">내 게시물</a></li>
                    <li><a href="/chat/list">내 대화목록</a></li>              
                  </ul>
                </li>                  
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">사용자 계정 <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/profile">프로필 편집</a></li>
                    <li><a href="/logout">로그아웃</a></li>
                  </ul>
                </li>                 
              </ul>           
                <form>                          
                  <% if(locals.profileImage){ %>                        
                    <img  class="img-circle navbar-right" width="45" height="45" alt="..." src= <%= profileImage %> <!--서버 저장된 이미지-->                                                    
                  <% }else{ %>
                    <img  class="img-circle navbar-right" width="45" height="45" alt="..." src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" %> <!--빈 화면-->
                  <% } %>                  
                  <% if(locals.userId){ %>
                    <p class="white-text navbar-right"><%= userId %></p>     
                  <% } %>
                  -->
                </form>                                                                                            
            </div>  
          </div>
        </nav>
    </div>
    <!-- ======================== NavBar ========================== -->
  
    <!-- Input Board Content -->
    <div class="row margin-top">
      <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <% if(func === 'write'){ %>   
              <h2 class="text-center">글 작성하기</h2><p></p>
            <% }else{ %>
              <h2 class="text-center">글 수정하기</h2><p></p>
            <% } %>

            <% if(func === 'write'){ %>  
              <form role="form" method="POST" action="/board-free/write/commit" enctype="application/x-www-form-urlencoded" >   
                  <div class="table table-responsive">
                  <table class="table table-striped">
                    <tr>
                        <td>작성자</td>
                        <td><input type="text"  class="form-control" name="userId_w" value="<%= userId %>" readonly></td>
                    </tr>
                    <tr>
                        <td>제목</td>
                        <td><input type="text"  class="form-control" name="title"></td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td><input type="email"  class="form-control" name="email" value="<%= email %>" readonly></td>
                    </tr>
                    
                    <tr>
                        <td>첨부파일</td>
                        <td>
                            <div class="file_input_div">
                                <input type="text" id="fileName" placeholder="첨부할 파일을 선택하세요." class="file_input_textbox form-control input-lg" readonly >
                                <input type="file" name="file" class="file_input_hidden" onchange="javascript: document.getElementById('fileName').value = this.value"/>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>글내용</td>
                        <td><textarea rows="10" cols="50" name="content" class="form-control"></textarea></td>
                    </tr>
                    <tr>  
                        <td colspan="2"  class="text-center">
                        
                            <input type="hidden" name="num"  value="">
                            <input type="hidden" name="ref"  value="">
                            <input type="hidden" name="ref_step"  value="">
                            <input type="hidden" name="ref_level"  value="">                                  
                            <input type="submit" value="완료" class="btn green"> 

                            <% if(func === 'write'){ %>             
                              <a class="btn red" href="/board-free/page/<%= pageNum %>">취소</a>
                              <a class="btn blue" href="/board-free/page/<%= pageNum %>">목록으로</a>
                            <% }else{ %>
                              <a class="btn red" href="/board-free/detail?index=<%=documentNum %>&userProfile_w=<%=profileImage %>&pageNum=<%=pageNum %>">취소</a>
                              <a class="btn blue" href="/board-free/page/<%= pageNum %>">목록으로</a>
                            <% } %>                                  
                      </td>
                      </tr>
                  
                  </table>                    
                  </div>
              </form>   
            <% }else{ %>
              <form role="form" method="POST" action="/board-free/update/commit" enctype="application/x-www-form-urlencoded" >   
                <div class="table table-responsive">
                <table class="table table-striped">
                  <tr>
                      <td>작성자</td>
                      <td><input type="text"  class="form-control" name="userId_w" value="<%= userId %>" readonly></td>
                  </tr>
                  <tr>
                      <td>제목</td>
                      <td><input type="text"  class="form-control" name="title_update" value="<%= title_update %>"></td>
                  </tr>
                  <tr>
                      <td>이메일</td>
                      <td><input type="email"  class="form-control" name="email" value="<%= email %>" readonly></td>
                  </tr>
                  
                  <tr>
                      <td>첨부파일</td>
                      <td>
                          <div class="file_input_div">
                              <input type="text" id="fileName" placeholder="첨부할 파일을 선택하세요." class="file_input_textbox form-control input-lg" readonly >
                              <input type="file" name="file" class="file_input_hidden" onchange="javascript: document.getElementById('fileName').value = this.value"/>
                          </div>
                      </td>
                  </tr>
                  
                  <tr>
                      <td>글내용</td>
                      <td><textarea rows="10" cols="50" name="content_update" class="form-control"><%= content_update %></textarea></td>
                  </tr>
                  <tr>  
                      <td colspan="2"  class="text-center">
                      
                          <input type="hidden" name="num"  value="">
                          <input type="hidden" name="ref"  value="">
                          <input type="hidden" name="ref_step"  value="">
                          <input type="hidden" name="ref_level"  value="">                                  
                          <input type="submit" value="완료" class="btn green"> 

                          <% if(func === 'write'){ %>             
                            <a class="btn red" href="/board-free/page/<%= pageNum %>">취소</a>
                            <a class="btn blue" href="/board-free/page/<%= pageNum %>">목록으로</a>
                          <% }else{ %>
                            <a class="btn red" href="/board-free/detail?index=<%=documentNum %>&userProfile_w=<%=profileImage %>&pageNum=<%=pageNum %>">취소</a>
                            <a class="btn blue" href="/board-free/page/<%= pageNum %>">목록으로</a>
                          <% } %>                                  
                    </td>
                    </tr>
                
                </table>                    
                </div>
            </form>   
          <% } %>
        </div>
    </div>
  </div>
    <!-- Input Board Content -->
    
  
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2019 Company, June. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  
    </div><!-- /.container -->
  
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>     
      
     
</body>

</html>