<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Main Page</title>


	<link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <!-- Bootstrap JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  
  <!-- ======================== NavBar ========================== -->
  <div class="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>         
                <a class="navbar-brand" href="#">프로젝트</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">홈</a></li>     
                <li><a href="#about">About</a></li>
                <li class="dropdown active">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">게시판 <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/board-free">자유 게시판</a></li>
                    <li><a href="#">거래 게시판<a></li>
                    <li><a href="#">내 게시물</a></li>            
                  </ul>
                </li>                  
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">사용자 계정 <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/profile">프로필 편집</a></li>
                    <li><a href="/logout">로그아웃</a></li>
                    <!--
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                    -->
                  </ul>
                </li>                 
              </ul>           
                <form>                          
                  <% if(locals.profileImage){ %>                        
                    <img  class="img-circle navbar-right" width="45" height="45" alt="..." src= <%= profileImage %> <!--서버 저장된 이미지-->                                                    
                  <% }else{ %>
                    <img  class="img-circle navbar-right" width="45" height="45" alt="..." src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" %> <!--빈 화면-->
                  <% } %>                  
                  <% if(locals.userId){ %>
                    <p class="white-text navbar-right"><%= userId %></p>     
                  <% } %>         
                </form>                                                                                            
            </div>  
          </div>
        </nav>
    </div>
    <!-- ======================== NavBar ========================== -->
  

    <!-- Board List-->
    <div class="row margin-top">
        <div class="container">
            <table class="table table-striped">
                <thead> <!-- 게시판 테이블 헤더부분-->
                    <tr>
                        <th>번호</th>
                        <th class="text-center">제목</th>
                        <th class="text-center">작성자</th>                      
                        <th class="text-center">날짜</th>                     
                        <th class="text-center">조회수</th>
                    </tr>
                </thead>
                <tbody> <!-- 게시판 테이블 본문부분-->
                  <style>
                    .badge {
                      background-color:coral;
                      border-radius: 15px;
                    }
                  </style>
                    <% for(var i= 0; i<list; i++){ %>
                        <tr>
                            <td class="col-md-1"><%=rows[i].board_num %></td>
                            <td class="col-md-5 text_reduction">
                              <span>
                                <a style="color:black;" href="/board-free/detail?index=<%=rows[i].board_num %>&userProfile_w=<%=rows[i].userProfile %>&pageNum=<%=currentPageIdx %>">
                                  <%=rows[i].board_title %>
                                    <% if(rows[i].reply_count > 0){ %>
                                      <span class="badge"><%=rows[i].reply_count %></span>                           
                                    <% } %>
                                </a>
                                <!-- JS에서 쿼리스트링으로 추출할수 있도록 Url에 게시물번호와 작성자프로필사진값 같이 전달-->
                              </span>
                            </td>
                        
                            <td class="col-md-3">                       
                                <div class="dropdown margin-left">  
                                    <img  class="img-circle margin-left margin-profile-right" width="25" height="25" alt="..." src= <%=rows[i].userProfile %>
                                    <a><%=rows[i].userId_w %></a>    
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></a>      
                                     <ul class="dropdown-menu">
                                      <li><a href="">대화하기</a></li>
                                      <li><a href="/board-free/showProfile?index=<%=rows[i].board_num %>">프로필 정보</a></li>
                                      <li><a href="">게시글 보기</a></li>
                                    </ul>
                                </div>                          
                            </td>
                    
                            <td class="col-md-2 text-center">
                              <small><%=moment(rows[i].timeStamp).format('YYYY-MM-DD HH:mm:ss')%></small>
                            </td>         
                            <!--모멘트 객체 넘겨받아서 JS 코드를 이용해 날짜 포멧 변경 GMT => UTC LOCAL -->                                      
                            <td  class="col-md-1 text-center">
                              <small><%=rows[i].readCount %></small>
                            </td>
                        </tr>
                    <% } %>         

                </tbody>
            </table>
            <!-- <a class="btn btn-default pull-right" href="/board-free/write">글쓰기</a> -->
            <div class="container">
              <form role="form" method="get" action="/board-free/write" enctype="application/x-www-form-urlencoded" >
                <div class="form-group">
                  <button class="btn blue pull-right margin-profile-right">글쓰기</button>
                </div>
              </form>
            </div>

            <div class="container">
              <div class="text-center">
                  <ul class="pagination"> <!--게시판 페이징 버튼-->
                    <% if(currentPageIdx > 0){ %>
                      <li><a href="/board-free/page/<%= 0 %>">&laquo;</a></li>   <!--맨 앞으로 버튼-->
                      <li><a href="/board-free/page/<%= currentPageIdx - 1 %>">&lsaquo;</a></li>    <!--좌측더보기버튼-->
                      <li><a>...</a></li>
                    <% } %>      
                      <% for(var i=currentPageIdx-5; i<currentPageIdx+5; i++){ %>  
                        <% if(i > -1 && i <=totalPage-1){ %>
                          <% if(currentPageIdx == i){ %>                            
                            <li class="active"><a href="/board-free/page/<%= i %>"><%= i+1 %></a></li>
                          <% } else {%>
                            <li><a href="/board-free/page/<%= i %>"><%= i+1 %></a></li>
                          <% } %>  
                        <% } %>     
                      <% } %>   
                    <% if(currentPageIdx != totalPage-1){ %>
                      <li><a>...</a></li>
                      <li><a href="/board-free/page/<%= currentPageIdx + 1 %>">&rsaquo;</a></li>    <!--우측더보기버튼--> 
                      <li><a href="/board-free/page/<%= totalPage-1 %>">&raquo;</a></li>  <!--맨 뒤로 버튼--> 
                    <% } %>                
                  </ul>
              </div>
            </div>
        </div>
    </div>
    <!-- Board List-->
  
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2019 Company, June. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  
    </div><!-- /.container -->
  
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>     
   
 
</body>

</html>