<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Socket.io -->
        <script src="/socket.io/socket.io.js"></script>
    <!-- jQuery -->
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <style>
        header { background-color: #0057fa; height: 45px; }
        h1 { color: #ffffff; font-weight: lighter; font-size: 16px; -webkit-text-size-adjust: none;}
        span {font-size: 14px;}
        footer { background: #e9ecef }
        .btn { font-weight: lighter }
        .input-group-text { font-weight: lighter }
        .form-control:focus { box-shadow: none; -webkit-box-shadow: none }
        ::-webkit-input-placeholder { font-weight: lighter }
        :-moz-placeholder { font-weight: lighter }
        ::-moz-placeholder { font-weight: lighter }

        .messages { padding: .5rem 0;}
        .list-group-item { padding: .25rem .5rem; border-width: 0 }
        .message { display: flex; max-width: 80%; margin-top: 5px; padding: .5rem 1rem; border-radius: .5rem }
        .msg-receive { float:left; background-color: #dedede;}
        .msg-receive:before { position: relative; top: -.5rem; left: -1.5rem; width: 0; height: 0; border-style: solid; border-width: 0 15px 15px 0; border-color: transparent #dedede transparent transparent; content: '' }
        .msg-send { float: right; background-color: #6e6e6e; color: #ffffff; font-weight: lighter;}
        .msg-send:after { position: relative; top: -.5rem; left: 1.5rem; width: 0; height: 0; border-style: solid; border-width: 15px 15px 0 0; border-color: #6e6e6e transparent transparent transparent; content: '' }
        .profile-send{ float: right; width: 40px; height: 40px; border-radius: 50%; margin: 5px;}
        .profile-receive{ float: left; width: 40px; height: 40px; border-radius: 50%; margin: 5px;}
    </style>

    <script type="text/javascript">
        $(function() {
            // Socket.IO 서버에 접속
            var socket = io();
            $(document).scrollTop($(document).height()); // 스크롤 맨 아래로
            // 서버의 'chat message' 이벤트 수신시 실행할 이벤트핸들러 등록          
            socket.on('chat message', function(data, params) {
                var $li_userId = $('<li></li>').addClass('list-group-item');
                var $span_userId = $('<span></span>');
                $li_userId.append($span_userId.text(params.userId));
                $('div.messages ul').append($li_userId);
                var $li = $('<li></li>').addClass('list-group-item');
                var $span = $('<span></span>').addClass('message msg-receive');
                var $img = $('<img></img>').addClass('profile-receive');
                $li.append($img.attr('src', params.profileImg)); // 소켓아이디로 부터 조회된 채팅방내의 다른 유저의 프로필 사진
                $li.append($span.text(data));
                $('div.messages ul').append($li);
                $(document).scrollTop($(document).height());
            });
            
            // 서버의 'chat sended' 이벤트 수신시 실행할 이벤트핸들러 등록
            socket.on('chat sended', function(data) {
                var userProfile = '<%= userProfile %>'; // 메시지 보낸사람 프로필사진      
                var $li = $('<li></li>').addClass('list-group-item');
                var $span = $('<span></span>').addClass('message msg-send');
                var $img = $('<img></img>').addClass('profile-send');
                $li.append($img.attr('src', userProfile)); // 세션에 저장된 메시지 송신자의 프로필 사진
                $li.append($span.text(data));       
                $('div.messages ul').append($li);
                $(document).scrollTop($(document).height());           
            });

            // [전송] 버튼을 클릭할 경우 실행할 이벤트핸들러 등록
            $('form').submit(function(eve) {
                eve.preventDefault();
                var $fldMessage = $('input#message');
                if ($fldMessage.val().trim().length < 1) {
                    $fldMessage.val('');
                    return;
                }

                socket.emit('chat message', $fldMessage.val());
                $fldMessage.val('');
            });
        });
</script>
</head>

<body>
    <header class="fixed-top p-1">
        <h1 class="px-3 mt-3">채팅</h1>
    </header>
    <div class="messages">
        <ul class="list-group">   
            <% for(var i=0; i<rows.length; i++){ %>         
                <% if(sessionUserId == rows[i].userId){ %>
                    <li class="list-group-item">
                        <img class="profile-send" src=<%= rows[i].thumnail %>>
                        <span class="message msg-send"><%= rows[i].message %></span>
                    </li>
                    <% } else {%>
                    <span><%= rows[i].userId %></span>
                    <li class="list-group-item">
                        <img class="profile-receive" src=<%= rows[i].thumnail %>>
                        <span class="message msg-receive"><%= rows[i].message %></span>
                    </li>
                <% } %>              
            <% } %>          
        </ul>
    </div>
    <footer class="fixed-bottom p-1 ">
        <form>
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <label for="message" class="input-group-text px-3">메시지</label>
                </div>
                <input type="text" id="message" autocomplete="off" placeholder="전송할 메시지를 입력해 주세요." class="form-control">
                <div class="input-group-append">
                    <input type="submit" value="전송" class="btn btn-primary px-4">
                </div>
            </div>
        </form>
    </footer>
</body>

</html>